<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAQA</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
 
    <div id="clouds">
        <div class="cloud x1"></div>
        <div class="cloud x1_5"></div>
        <div class="cloud x2"></div>
        <div class="cloud x3"></div>
        <div class="cloud x4"></div>
        <div class="cloud x5"></div>
    </div>
    <div class='c'>
        <div class='_404'>WEB SİTEMİZ</div>
        <div class='_1'>YAPIM AŞAMASINDA</div><br><br>
        <div class='_2'>ÇOK YAKINDA HİZMETİNİZDEYİZ</div>
         <br>
        <div class='_2'><a href="https://tetasoftware.com"><img src="/media/teta-logo.png" alt="" width="250px"></a></div>
        

    </div>

</body>
</html>